

{{#contentFor 'pageStyles'}}
{{/contentFor}}
{{#contentFor 'pageScripts'}}
<script>
  function createActions(id) {
      return "<a href=/pets/"+id+">View</a>";
}

    function assignToEventsColumns(data) {
       var table = $('#pets-table').dataTable({
       "bAutoWidth" : false,
       "bFilter": false,
       "iDisplayLength": 25,
       "bLengthChange": false,
       "bSortClasses": false,
        paging: false,
        bInfo: false,
       "aoColumnDefs": [
        { "bSortable": false, "aTargets": [ 1, 2, 3] }],
       "aaData" : data,
       "columns" : [ {
           "data" : "name"
       }, {
           "data" : "type"
       }, {
           "data" : "breed"
       }, {
           "data" : "longitude"
       } ],
    "createdRow": function (row, data, index) {
    $(row).find(':last-child').html(createActions(data.id));
    }
   })}
    
    assignToEventsColumns({{{pets}}})
    
   var pets = {{{pets}}};
   
</script>
{{/contentFor}}
<div class="container">
   <h1 class="text-center">Does My Pet Need An Umbrella?</h1>
    <p class="lead text-center">Select a pet to find out or <a href="/pets/add" class="btn-primary btn">Add</a> a pet</p>
   <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <table id="pets-table" class="table table-striped table-bordered table-info">
            <thead>
               <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Breed</th>
                  <th>View</th>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>
   </div>
</div>

